body {
    text-align: center;
}

.go-to-menu {
    color:orange;
    cursor:pointer;
}

h1{
    margin-bottom: 5px;

}


#welcome-section {
    display:flex;
    flex-direction: column;
    height:100vh;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.grid-div {
    margin-top:30px;
    display: flex;
    gap:40px;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

.hero {
    margin-bottom: 20px;
    width:100%;
    flex-basis: 50%;
}

.hero + p {
    text-align: start;
    max-width:24ch;
}




table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
  }
 
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  /*
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  */
  caption {
    padding: 10px;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  } 

  tr > td:last-of-type, tr>td:nth-of-type(3), tr>th:nth-of-type(4), tr>th:last-of-type {
    text-align: end;
  }

  tr>td:nth-of-type(2), tr>th:nth-of-type(3) {
    text-align: center;
  }

  tr>th:first-of-type{
    text-align: start;
  }

  nav{
    padding-inline: 15px;
  }